.navbar {
  width: 100%;
  background-color: #161B22;
  overflow: auto;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  position: sticky;
  top: 0px;
  padding: 10px 50px;
}
div.links {
  float: right;
}
.navbar a {
  /* float: right; */
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #000;
}
.active {
  background-color: #04AA6D;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}